swagger: "2.0"
info:
  description: "Documentação não oficial da API do sistema de divulgação de candidaturas e contas ([DivulgaCandContas](http://divulgacandcontas.tse.jus.br/divulga/)) do Tribunal Superior Eleitoral."
  version: "1.0.0"
  title: "DivulgaCandContas"
  termsOfService: "http://www.tse.jus.br/transparencia/politica-de-privacidade-e-termos-de-uso"
  contact:
    url: "http://divulgacandcontas.tse.jus.br/divulga/"
host: "divulgacandcontas.tse.jus.br"
basePath: "/divulga/rest/v1"
tags:
- name: eleicoes2020
  description: "Eleições municipais de 2020"
schemes:
- https
paths:
  /eleicao/listar/municipios/2030402020/{municipio}/cargos:
    get:
      tags:
      - "eleicoes2020"
      summary: "Cargos no município"
      description: "Lista de cargos em disputa no município"
      operationId: listaCargos
      produces:
      - "application/json"
      parameters:
      - name: municipio
        in: path
        description: "Código do município"
        required: true
        type: integer
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              unidadeEleitoralDTO: 
                type: object
                properties: 
                  id: 
                    type: string
                    format: nullable
                  sigla: 
                    type: string
                  nome: 
                    type: string
                  regiao: 
                    type: string
                    format: nullable
                  cargos: 
                    type: string
                    format: nullable
                  diretorios: 
                    type: string
                    format: nullable
                  codigo: 
                    type: string
                  capital: 
                    type: boolean
                  estado: 
                    type: string
              cargos: 
                type: array
                items: 
                  $ref: "#/definitions/Cargo"
        "404":
          description: "não encontrado"
  /prestador/consulta/2030402020/2020/{municipio}/{cargo}/90/90/{candidato}:
    get:
      tags:
      - "eleicoes2020"
      summary: Prestador
      description: "Informações sobre o prestador de contas"
      operationId: consultaPrestador
      produces:
      - "application/json"
      parameters:
      - name: municipio
        in: path
        description: "Código do município"
        required: true
        type: integer
      - name: cargo
        in: path
        description: "Código do cargo"
        required: true
        type: integer
      - name: candidato
        in: path
        description: "Código do candidato"
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              idEleicao: 
                type: integer
                format: int32
              ano: 
                type: integer
                format: int32
              sgUe: 
                type: string
              sgUeSuperior: 
                type: string
              nmUe: 
                type: string
              nrPartido: 
                type: integer
                format: int32
              nomePartido: 
                type: string
              siglaPartido: 
                type: string
              siglaPartidoSemEspaco: 
                type: string
              nrCandidato: 
                type: integer
                format: int32
              idCandidato: 
                type: string
              nrProcessoPje: 
                type: string
              cnpj: 
                type: string
              idOrgao: 
                type: string
                format: nullable
              idPrestador: 
                type: string
              idPrestadorVice: 
                type: string
              idUltimaEntrega: 
                type: string
              numeroDeControleEntrega: 
                type: string
              dataUltimaAtualizacaoContas: 
                type: string
              entregaAtual: 
                type: string
                format: nullable
              dadosConsolidados: 
                type: object
                properties: 
                  totalRecebido: 
                    type: integer
                    format: int32
                  qtdRecebido: 
                    type: integer
                    format: int32
                  percentualRecebido: 
                    type: string
                    format: nullable
                  totalFinanceiro: 
                    type: integer
                    format: int32
                  qtdFinanceiro: 
                    type: integer
                    format: int32
                  percentualFinanceiro: 
                    type: integer
                    format: int32
                  totalEstimados: 
                    type: integer
                    format: int32
                  qtdEstimados: 
                    type: integer
                    format: int32
                  percentualEstimados: 
                    type: integer
                    format: int32
                  totalReceitaPF: 
                    type: integer
                    format: int32
                  qtdReceitaPF: 
                    type: integer
                    format: int32
                  percentualReceitaPF: 
                    type: integer
                    format: int32
                  totalReceitaPJ: 
                    type: integer
                    format: int32
                  qtdReceitaPJ: 
                    type: integer
                    format: int32
                  percentualReceitaPJ: 
                    type: integer
                    format: int32
                  totalPartidos: 
                    type: integer
                    format: int32
                  qtdPartidos: 
                    type: integer
                    format: int32
                  percentualPartidos: 
                    type: integer
                    format: int32
                  totalInternet: 
                    type: integer
                    format: int32
                  qtdInternet: 
                    type: integer
                    format: int32
                  percentualInternet: 
                    type: integer
                    format: int32
                  totalRoni: 
                    type: integer
                    format: int32
                  qtdRoni: 
                    type: integer
                    format: int32
                  percentualRoni: 
                    type: integer
                    format: int32
                  totalProprios: 
                    type: integer
                    format: int32
                  qtdProprios: 
                    type: integer
                    format: int32
                  percentualProprios: 
                    type: integer
                    format: int32
                  totalReceitaOutCand: 
                    type: integer
                    format: int32
                  qtdReceitaOutCand: 
                    type: integer
                    format: int32
                  percentualReceitaOutCand: 
                    type: integer
                    format: int32
                  totalDoacaoFcc: 
                    type: integer
                    format: int32
                  qtdDoacaoFcc: 
                    type: integer
                    format: int32
                  percentualDoacaoFcc: 
                    type: integer
                    format: int32
                  sqPrestadorConta: 
                    type: string
                    format: nullable
                  sqEntregaPrestacao: 
                    type: string
                    format: nullable
                  graphQtdReceitaFin: 
                    type: integer
                    format: int32
                  graphVrReceitaFin: 
                    type: integer
                    format: int32
                  graphQtdReceitaFinFundo: 
                    type: integer
                    format: int32
                  graphVrReceitaFinFundo: 
                    type: integer
                    format: int32
                  graphPercentReceitaFinFundo: 
                    type: integer
                    format: int32
                  graphQtdReceitaFinOutros: 
                    type: integer
                    format: int32
                  graphVrReceitaFinOutros: 
                    type: integer
                    format: int32
                  graphPercentFinOutros: 
                    type: integer
                    format: int32
                  graphQtdReceitaFinFefc: 
                    type: integer
                    format: int32
                  graphVrReceitaFinFefc: 
                    type: integer
                    format: int32
                  graphPercentFinFefc: 
                    type: integer
                    format: int32
              historicoEntregas: 
                type: array
                items: 
                  type: object
                  properties: 
                    dataEntrega: 
                      type: string
                    tipo: 
                      type: string
                    retificadora: 
                      type: string
                    numeroControle: 
                      type: string
                    idEntrega: 
                      type: string
                    isCompare: 
                      type: boolean
              despesas: 
                type: object
                properties: 
                  limiteDeGasto1T: 
                    type: number
                  limiteDeGasto2T: 
                    type: integer
                    format: int32
                  valorLimiteDeGastos: 
                    type: number
                  totalDespesasContratadas: 
                    type: integer
                    format: int32
                  totalDespesasPagas: 
                    type: integer
                    format: int32
                  doacoesOutrosCandidatosPartigos: 
                    type: integer
                    format: int32
                  fundosPartidarios: 
                    type: integer
                    format: int32
                  fundoEspecial: 
                    type: integer
                    format: int32
                  outrosRecursos: 
                    type: integer
                    format: int32
                  financeiras: 
                    type: integer
                    format: int32
                  estimaveis: 
                    type: integer
                    format: int32
              haveExtratos: 
                type: boolean
              haveNfes: 
                type: boolean
              concentracaoDespesas: 
                type: array
                items: 
                  type: object
                  properties: 
                    dsDRD: 
                      type: string
                    qtdeDespesas: 
                      type: string
                    valor: 
                      type: integer
                      format: int32
              rankingDoadores: 
                type: array
                items: 
                  type: object
                  properties: 
                    cpfCnpj: 
                      type: string
                    nome: 
                      type: string
                    qntd: 
                      type: string
                    valor: 
                      type: integer
                      format: int32
                    stFinanciamentoColetivo: 
                      type: boolean
              rankingFornecedores: 
                type: array
                items: 
                  type: object
                  properties: 
                    cpfCnpj: 
                      type: string
                    nome: 
                      type: string
                    qntd: 
                      type: string
                    valor: 
                      type: integer
                      format: int32
                    stFinanciamentoColetivo: 
                      type: string
                      format: nullable
              contasBancarias: 
                type: array
                items: 
                  type: object
              receitaIndividual: 
                type: string
                format: nullable
              qualificacoes: 
                type: array
                items: 
                  type: object
                  properties: 
                    membro: 
                      type: string
                    codigoFuncao: 
                      type: integer
                      format: int32
                    funcao: 
                      type: string
                    nrRegistroConselho: 
                      type: string
                      format: nullable
                    dtGestaoInicio: 
                      type: integer
                      format: int64
                    dtGestaoFim: 
                      type: integer
                      format: int64
              dividaCampanha: 
                type: string
                format: nullable
              sobraFinanceira: 
                type: string
                format: nullable
              sobraFinanceiraFP: 
                type: string
                format: nullable
              sobraFinanceiraOR: 
                type: string
                format: nullable
              sobraFinanceiraFEFC: 
                type: string
                format: nullable
              sobraEstimavel: 
                type: string
                format: nullable            
        "404":
          description: "não encontrado"
  /candidatura/listar/2020/{municipio}/2030402020/{cargo}/candidatos:
    get:
      tags:
      - eleicoes2020
      summary: "Candidatos no município"
      description: "Lista de todos os candidatos nas eleições de 2020 no município especificado"
      operationId: "listaCandidatosPorMunicipio"
      produces:
      - "application/json"
      parameters:
      - name: municipio
        in: path
        description: "Código do município"
        required: true
        type: integer
      - name: cargo
        in: path
        description: "Código do cargo"
        required: true
        type: integer
      responses:
        "200":
          description: "OK"
          schema:
            type: object
            properties:
              unidadeEleitoral:
                type: object
              cargo:
                type: object
              candidatos:
                type: array
                items:
                  $ref: "#/definitions/Candidato"
        "404":
          description: "não encontrado"
definitions:
  Candidato:
    type: "object"
    properties:
      id: 
        type: integer
        format: int64
      nomeUrna: 
        type: string
      numero: 
        type: integer
        format: int32
      idCandidatoSuperior: 
        type: string
        format: nullable
      nomeCompleto: 
        type: string
      descricaoSexo: 
        type: string
        format: nullable
      dataDeNascimento: 
        type: string
        format: nullable
      tituloEleitor: 
        type: string
        format: nullable
      cpf: 
        type: string
        format: nullable
      descricaoEstadoCivil: 
        type: string
        format: nullable
      descricaoCorRaca: 
        type: string
        format: nullable
      descricaoSituacao: 
        type: string
      nacionalidade: 
        type: string
        format: nullable
      grauInstrucao: 
        type: string
        format: nullable
      ocupacao: 
        type: string
        format: nullable
      gastoCampanha1T: 
        type: string
        format: nullable
      gastoCampanha2T: 
        type: string
        format: nullable
      sgUfNascimento: 
        type: string
        format: nullable
      nomeMunicipioNascimento: 
        type: string
        format: nullable
      localCandidatura: 
        type: string
        format: nullable
      ufCandidatura: 
        type: string
        format: nullable
      ufSuperiorCandidatura: 
        type: string
        format: nullable
      dataUltimaAtualizacao: 
        type: string
        format: nullable
      fotoUrl: 
        type: string
        format: nullable
      fotoDataUltimaAtualizacao: 
        type: string
        format: nullable
      descricaoTotalizacao: 
        type: string
      nomeColigacao: 
        type: string
      composicaoColigacao: 
        type: string
        format: nullable
      numeroProcessoDrap: 
        type: string
        format: nullable
      numeroProcessoDrapEncrypt: 
        type: string
        format: nullable
      numeroProcesso: 
        type: string
        format: nullable
      numeroProcessoEncrypt: 
        type: string
        format: nullable
      numeroProcessoPrestContas: 
        type: string
        format: nullable
      numeroProcessoPrestContasEncrypt: 
        type: string
        format: nullable
      numeroProtocolo: 
        type: string
        format: nullable
      cargo: 
        type: object
        properties: 
          codigo: 
            type: integer
            format: int32
          sigla: 
            type: string
            format: nullable
          nome: 
            type: string
          codSuperior: 
            type: integer
            format: int32
          titular: 
            type: boolean
          contagem: 
            type: integer
            format: int32
      bens: 
        type: string
        format: nullable
      totalDeBens: 
        type: string
        format: nullable
      vices: 
        type: string
        format: nullable
      partido: 
        type: object
        properties: 
          numero: 
            type: integer
            format: int32
          sigla: 
            type: string
          nome: 
            type: string
            format: nullable
      eleicao: 
        type: object
        properties: 
          id: 
            type: integer
            format: int32
          siglaUF: 
            type: string
            format: nullable
          localidadeSgUe: 
            type: string
            format: nullable
          ano: 
            type: integer
            format: int32
          codigo: 
            type: string
            format: nullable
          nomeEleicao: 
            type: string
            format: nullable
          tipoEleicao: 
            type: string
            format: nullable
          turno: 
            type: string
            format: nullable
          tipoAbrangencia: 
            type: string
            format: nullable
          dataEleicao: 
            type: string
            format: nullable
          codSituacaoEleicao: 
            type: string
            format: nullable
          descricaoSituacaoEleicao: 
            type: string
            format: nullable
          descricaoEleicao: 
            type: string
      emails: 
        type: string
        format: nullable
      sites: 
        type: string
        format: nullable
      arquivos: 
        type: string
        format: nullable
      eleicoesAnteriores: 
        type: string
        format: nullable
      substituto: 
        type: string
        format: nullable
      motivos: 
        type: string
        format: nullable
      codigoSituacaoCandidato: 
        type: string
        format: nullable
      descricaoSituacaoCandidato: 
        type: string
        format: nullable
      isCandidatoInapto: 
        type: string
        format: nullable
      codigoSituacaoPartido: 
        type: string
        format: nullable
      descricaoSituacaoPartido: 
        type: string
        format: nullable
      cnpjcampanha: 
        type: string
        format: nullable
      descricaoNaturalidade: 
        type: string
      gastoCampanha: 
        type: integer
        format: int32
      st_SUBSTITUIDO: 
        type: string
        format: nullable
      st_MOTIVO_FICHA_LIMPA: 
        type: string
        format: nullable
      st_MOTIVO_ABUSO_PODER: 
        type: string
        format: nullable
      st_MOTIVO_COMPRA_VOTO: 
        type: string
        format: nullable
      st_MOTIVO_CONDUTA_VEDADA: 
        type: string
        format: nullable
      st_MOTIVO_GASTO_ILICITO: 
        type: string
        format: nullable
      ds_MOTIVO_OUTROS: 
        type: string
        format: nullable
      st_MOTIVO_AUSENCIA_REQUISITO: 
        type: string
        format: nullable
      st_MOTIVO_IND_PARTIDO: 
        type: string
        format: nullable
      st_DIVULGA: 
        type: string
        format: nullable
      st_DIVULGA_BENS: 
        type: string
        format: nullable
      st_REELEICAO: 
        type: boolean
      st_DIVULGA_ARQUIVOS: 
        type: string
        format: nullable    
  Cargo:
    type: object
    properties:
      codigo: 
        type: integer
        format: int32
      sigla: 
        type: string
        format: nullable
      nome: 
        type: string
      codSuperior: 
        type: integer
        format: int32
      titular: 
        type: boolean
      contagem: 
        type: integer
        format: int32
externalDocs:
  description: "Repositório de dados eleitorais"
  url: "https://www.tse.jus.br/eleicoes/estatisticas/repositorio-de-dados-eleitorais-1/repositorio-de-dados-eleitorais"
